
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f8ff; /* Color azul claro */
    margin: 0;
    padding: 0;
}


h {
    color: #333;
    margin: 100px 0;
    font-size: 50px; 
    gfont-family: 'arial black', sans-serif; 
text-align: center;

}

h1 {
    color: #333;
    margin: 20px 0;
    font-size: 40px; 
    gfont-family: 'arial black', sans-serif; 
text-align: center;

}
.imagen-izquierda {
    float: left;   
    margin-right: 200px;
    width: 200px; 
    height: auto; 
}
